body{
    text-align: center;
}
h1{
    font-family:monospace;
    font-size:400%;
    color:white;
    margin-top:10%;
    text-shadow: 0px 0px 5px black;
}

a{
    text-decoration: none;
    font-family:calibri;
    display:inline-block;
    padding:20px 10px;
    font-size:130%;
    margin:5px;
    border-style:none;
    border-radius: 10px;
    width:25%;
    background-color: rgba(0, 0, 255, 0.86);
    color:white;
   
    
    
}
a:hover{
    background-color:#0505a7;
     box-shadow: 0px 0px 3px 3px grey;
    transition: 1s background,box-shadow;
    
}